In [13]:
import pandas as pd

In [14]:
column = ['unit_number','time','op_setting1','op_setting2','op_setting3']
for i in range (0,21):
        let = str(i+1)
        word = 'sen_measurement'+let
        column.append(word)
print(column,'\nColumn length:',len(column))

['unit_number', 'time', 'op_setting1', 'op_setting2', 'op_setting3', 'sen_measurement1', 'sen_measurement2', 'sen_measurement3', 'sen_measurement4', 'sen_measurement5', 'sen_measurement6', 'sen_measurement7', 'sen_measurement8', 'sen_measurement9', 'sen_measurement10', 'sen_measurement11', 'sen_measurement12', 'sen_measurement13', 'sen_measurement14', 'sen_measurement15', 'sen_measurement16', 'sen_measurement17', 'sen_measurement18', 'sen_measurement19', 'sen_measurement20', 'sen_measurement21']
Column length: 26

In [15]:
column.append('Dummy_column1')
column.append('Dummy_column2')
print(column,'\nColumn length:',len(column))

['unit_number', 'time', 'op_setting1', 'op_setting2', 'op_setting3', 'sen_measurement1', 'sen_measurement2', 'sen_measurement3', 'sen_measurement4', 'sen_measurement5', 'sen_measurement6', 'sen_measurement7', 'sen_measurement8', 'sen_measurement9', 'sen_measurement10', 'sen_measurement11', 'sen_measurement12', 'sen_measurement13', 'sen_measurement14', 'sen_measurement15', 'sen_measurement16', 'sen_measurement17', 'sen_measurement18', 'sen_measurement19', 'sen_measurement20', 'sen_measurement21', 'Dummy_column1', 'Dummy_column2']
Column length: 28

In [16]:
train_df = pd.read_csv('Turbofan engine/train_FD001.txt', sep=' ',header=None)

In [17]:
train_df.columns = column

In [20]:
train_df = train_df.drop(['Dummy_column1','Dummy_column2'],axis=1)

In [21]:
rul = pd.DataFrame(train_df.groupby('unit_number')['time'].max()).reset_index()
rul.columns = ['unit_number', 'max']
train_df = train_df.merge(rul, on=['unit_number'], how='left')
train_df['RUL'] = train_df['max'] - train_df['time']
train_df.drop('max', axis=1, inplace=True)
train_df.head()

,unit_number,time,op_setting1,op_setting2,op_setting3,sen_measurement1,sen_measurement2,sen_measurement3,sen_measurement4,sen_measurement5,...,sen_measurement13,sen_measurement14,sen_measurement15,sen_measurement16,sen_measurement17,sen_measurement18,sen_measurement19,sen_measurement20,sen_measurement21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187

In [22]:
train_df.to_csv('train_FD001.csv', index=False)

In [23]:
check = pd.read_csv('train_FD001.csv')
check.head()

,unit_number,time,op_setting1,op_setting2,op_setting3,sen_measurement1,sen_measurement2,sen_measurement3,sen_measurement4,sen_measurement5,...,sen_measurement13,sen_measurement14,sen_measurement15,sen_measurement16,sen_measurement17,sen_measurement18,sen_measurement19,sen_measurement20,sen_measurement21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187