# Making training data

In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
column = ['unit_number','time','op_setting1','op_setting2','op_setting3']
for i in range (0,21):
        let = str(i+1)
        word = 'sen_measurement'+let
        column.append(word)
print(column,'\nColumn length:',len(column))

['unit_number', 'time', 'op_setting1', 'op_setting2', 'op_setting3', 'sen_measurement1', 'sen_measurement2', 'sen_measurement3', 'sen_measurement4', 'sen_measurement5', 'sen_measurement6', 'sen_measurement7', 'sen_measurement8', 'sen_measurement9', 'sen_measurement10', 'sen_measurement11', 'sen_measurement12', 'sen_measurement13', 'sen_measurement14', 'sen_measurement15', 'sen_measurement16', 'sen_measurement17', 'sen_measurement18', 'sen_measurement19', 'sen_measurement20', 'sen_measurement21']
Column length: 26

In [4]:
file_no = 4
train_df = pd.read_csv('Turbofan engine/train_FD00{}.txt'.format(file_no), sep=' ',header=None)

In [5]:
train_df = train_df.drop([26,27], axis = 1)
train_df.columns = column

In [ ]:
rul = pd.DataFrame(train_df.groupby('unit_number')['time'].max()).reset_index()
rul.columns = ['unit_number', 'max']
train_df = train_df.merge(rul, on=['unit_number'], how='left')
train_df['RUL'] = train_df['max'] - train_df['time']
train_df.drop('max', axis=1, inplace=True)

In [7]:
train_df

,unit_number,time,op_setting1,op_setting2,op_setting3,sen_measurement1,sen_measurement2,sen_measurement3,sen_measurement4,sen_measurement5,...,sen_measurement13,sen_measurement14,sen_measurement15,sen_measurement16,sen_measurement17,sen_measurement18,sen_measurement19,sen_measurement20,sen_measurement21,RUL
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,...,2387.99,8074.83,9.3335,0.02,330,2212,100.00,10.62,6.3670,320
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,...,2387.73,8046.13,9.1913,0.02,361,2324,100.00,24.37,14.6552,319
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,...,2387.97,8066.62,9.4007,0.02,329,2212,100.00,10.48,6.4213,318
3,1,4,42.0000,0.8400,100.0,445.00,548.70,1341.24,1118.03,3.91,...,2388.02,8076.05,9.3369,0.02,328,2212,100.00,10.54,6.4176,317
4,1,5,25.0063,0.6207,60.0,462.54,536.10,1255.23,1033.59,7.05,...,2028.08,7865.80,10.8366,0.02,305,1915,84.93,14.03,8.6754,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61244,249,251,9.9998,0.2500,100.0,489.05,605.33,1516.36,1315.28,10.52,...,2388.73,8185.69,8.4541,0.03,372,2319,100.00,29.11,17.5234,4
61245,249,252,0.0028,0.0015,100.0,518.67,643.42,1598.92,1426.77,14.62,...,2388.46,8185.47,8.2221,0.03,396,2388,100.00,39.38,23.7151,3
61246,249,253,0.0029,0.0000,100.0,518.67,643.68,1607.72,1430.56,14.62,...,2388.48,8193.94,8.2525,0.03,395,2388,100.00,39.78,23.8270,2
61247,249,254,35.0046,0.8400,100.0,449.44,555.77,1381.29,1148.18,5.48,...,2388.83,8125.64,9.0515,0.02,337,2223,100.00,15.26,9.0774,1
61248,249,255,42.0030,0.8400,100.0,445.00,549.85,1369.75,1147.45,3.91,...,2388.66,8144.33,9.1207,0.02,333,2212,100.00,10.66,6.4341,0

In [52]:
del_column = []
for col in train_df.columns:
    corr = train_df[col].corr(train_df['RUL'])
    if abs(corr) > 0.5:
        pass
    else:
        del_column.append(col)

print(del_column)

['unit_number', 'time', 'op_setting1', 'op_setting2', 'op_setting3', 'sen_measurement1', 'sen_measurement5', 'sen_measurement6', 'sen_measurement7', 'sen_measurement10', 'sen_measurement12', 'sen_measurement14', 'sen_measurement15', 'sen_measurement16', 'sen_measurement18', 'sen_measurement19', 'sen_measurement20', 'sen_measurement21']

C:\Users\DeTa5\anaconda3\envs\tf-gpu\lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\DeTa5\anaconda3\envs\tf-gpu\lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [53]:
train_df.drop(columns=del_column, inplace=True)
train_df.to_csv('train_FD00{}_selected_features.csv'.format(file_no), index=False)

# Making test data

In [54]:
column = ['unit_number','time','op_setting1','op_setting2','op_setting3']
for i in range (0,21):
        let = str(i+1)
        word = 'sen_measurement'+let
        column.append(word)
print(column,'\nColumn length:',len(column))

['unit_number', 'time', 'op_setting1', 'op_setting2', 'op_setting3', 'sen_measurement1', 'sen_measurement2', 'sen_measurement3', 'sen_measurement4', 'sen_measurement5', 'sen_measurement6', 'sen_measurement7', 'sen_measurement8', 'sen_measurement9', 'sen_measurement10', 'sen_measurement11', 'sen_measurement12', 'sen_measurement13', 'sen_measurement14', 'sen_measurement15', 'sen_measurement16', 'sen_measurement17', 'sen_measurement18', 'sen_measurement19', 'sen_measurement20', 'sen_measurement21']
Column length: 26

In [56]:
raw_data = pd.read_csv('Turbofan engine/test_FD001.txt', sep=' ', header = None)
raw_data = raw_data.drop([26,27], axis=1)
raw_data.columns = column


given_no_of_cycles=[]
for i in range (1,len(raw_data['unit_number'].unique())+1):
    given_no_of_cycles.append(len(raw_data[raw_data['unit_number']==i]))
given_no_of_cycles=np.array(given_no_of_cycles).reshape([len(given_no_of_cycles),1])
cycle_ran_after = pd.read_csv('Turbofan engine/RUL_FD00{}.txt'.format(file_no), sep=' ', header = None)
cycle_ran_after=cycle_ran_after.drop([1], axis='columns')
cycle_ran_after = np.array(cycle_ran_after)

EOL=[]
for i in raw_data['unit_number']:
        EOL.append(given_no_of_cycles[i-1]+cycle_ran_after[i-1] )
EOL = np.array(EOL).reshape([len(EOL),1])
raw_data['EOL']=EOL
raw_data["RUL"] = raw_data["EOL"]-raw_data["time"]
del_column.append('EOL')
raw_data=raw_data.drop(columns=del_column)
#processed_data=raw_data.drop(columns=del_columns)

In [57]:
raw_data

,sen_measurement2,sen_measurement3,sen_measurement4,sen_measurement8,sen_measurement9,sen_measurement11,sen_measurement13,sen_measurement17,RUL
0,643.02,1585.29,1398.21,2388.04,9050.17,47.20,2388.03,392,74
1,641.71,1588.45,1395.42,2388.01,9054.42,47.50,2388.06,393,73
2,642.46,1586.94,1401.34,2388.05,9056.96,47.50,2388.03,393,72
3,642.44,1584.12,1406.42,2388.03,9045.29,47.28,2388.05,391,71
4,642.51,1587.19,1401.92,2388.01,9044.55,47.31,2388.03,390,70
...,...,...,...,...,...,...,...,...,...
13091,643.24,1599.45,1415.79,2388.02,9142.37,47.69,2388.00,394,32
13092,643.22,1595.69,1422.05,2388.05,9140.68,47.60,2388.09,395,31
13093,643.44,1593.15,1406.82,2388.11,9146.81,47.57,2388.04,395,30
13094,643.26,1594.99,1419.36,2388.07,9148.85,47.61,2388.08,395,29
13095,642.95,1601.62,1424.99,2388.06,9155.03,47.80,2388.05,396,28

In [58]:
raw_data.to_csv('processed_test_data_FD00{}.csv'.format(file_no),index=False)