In [2]:
import pandas as pd

In [70]:
column = ['unit_number','time','op_setting1','op_setting2','op_setting3']
for i in range (0,21):
        let = str(i+1)
        word = 'sen_measurement'+let
        column.append(word)
print(column,'\nColumn length:',len(column))

['unit_number', 'time', 'op_setting1', 'op_setting2', 'op_setting3', 'sen_measurement1', 'sen_measurement2', 'sen_measurement3', 'sen_measurement4', 'sen_measurement5', 'sen_measurement6', 'sen_measurement7', 'sen_measurement8', 'sen_measurement9', 'sen_measurement10', 'sen_measurement11', 'sen_measurement12', 'sen_measurement13', 'sen_measurement14', 'sen_measurement15', 'sen_measurement16', 'sen_measurement17', 'sen_measurement18', 'sen_measurement19', 'sen_measurement20', 'sen_measurement21']
Column length: 26

In [71]:
column.append('Dummy_column1')
column.append('Dummy_column2')
print(column,'\nColumn length:',len(column))

['unit_number', 'time', 'op_setting1', 'op_setting2', 'op_setting3', 'sen_measurement1', 'sen_measurement2', 'sen_measurement3', 'sen_measurement4', 'sen_measurement5', 'sen_measurement6', 'sen_measurement7', 'sen_measurement8', 'sen_measurement9', 'sen_measurement10', 'sen_measurement11', 'sen_measurement12', 'sen_measurement13', 'sen_measurement14', 'sen_measurement15', 'sen_measurement16', 'sen_measurement17', 'sen_measurement18', 'sen_measurement19', 'sen_measurement20', 'sen_measurement21', 'Dummy_column1', 'Dummy_column2']
Column length: 28

In [72]:
column2 = column

In [73]:
train_df = pd.read_csv('Turbofan engine/train_FD002.txt', sep=' ',header=None)
test_df = pd.read_csv('Turbofan engine/test_FD002.txt', sep= " ",header=None)

In [74]:
train_df.columns = column
test_df.columns = column2

In [75]:
new_df = train_df.drop(['Dummy_column1','Dummy_column2'],axis=1)
newt_df = test_df.drop(['Dummy_column1','Dummy_column2'],axis=1)

In [76]:
new_df.to_csv('train_FD002.csv',index=False)
newt_df.to_csv('train_FD002.csv',index=False)

In [77]:
newt_df.to_csv('test_FD002.csv',index=False)

In [78]:
sample = pd.read_csv('test_FD002.csv')
sample.head()

,unit_number,time,op_setting1,op_setting2,op_setting3,sen_measurement1,sen_measurement2,sen_measurement3,sen_measurement4,sen_measurement5,...,sen_measurement12,sen_measurement13,sen_measurement14,sen_measurement15,sen_measurement16,sen_measurement17,sen_measurement18,sen_measurement19,sen_measurement20,sen_measurement21
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,371.69,2388.18,8114.10,8.6476,0.03,369,2319,100.00,28.42,17.1551
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,315.32,2388.12,8053.06,9.2405,0.02,364,2324,100.00,24.29,14.8039
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,183.04,2387.75,8053.04,9.3472,0.02,333,2223,100.00,14.98,8.9125
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,130.40,2387.72,8066.90,9.3961,0.02,332,2212,100.00,10.35,6.4181
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,164.56,2028.05,7865.66,10.8682,0.02,305,1915,84.93,14.31,8.5740